# Ignorar diretórios e arquivos de build do PlatformIO
.pio/
.pioenvs/
.build/
.vscode/
*.elf
*.bin
*.map
*.hex
*.d
*.a
*.o
*.pyc
__pycache__/

# KiCad temporary files
*.kicad_prl
*.kicad_pro-bak
*-backups/
*-cache.lib
fp-info-cache
